SqlServerAdoSession/SqlConAdo/obj/
SqlServerAdoSession/SqlConAdo/bin/
.vs/
DataAccessLayer/DAL/bin/
DataAccessLayer/DAL/obj/
RoughWork/Console/bin/
RoughWork/Console/obj/
Console/ConsoleApp/bin/
Console/ConsoleApp/obj/
Web/AspDotNetCore/obj/
Web/AspDotNetCore/bin/
Console/ExceptionHandling/bin/
Console/ExceptionHandling/obj/
Console/AppDomainExample/bin/
Console/AppDomainExample/obj/
